@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="container pt-4">
             @Body
        </div>           
    </main>
</div>
